<!DOCTYPE html>
  <html>
    <head>
      <title>{% if page.title %} {{ page.title }} | {% endif %}Drupalcamp Archive</title>
      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
              <h1>{{ page.title }} <small>redirecting...</small></h1>
            </div>
            <p>Redirecting you to: <a href="http://{{ page.subdomain }}.{{ site.base_url }}/">http://{{ post.subdomain }}.{{ site.base_url }}/</a></p>
          </div>
        </div>
      </div>

    </body>
  </html>