<!DOCTYPE html>
  <html>
    <head>
      <title>{% if page.title %} {{ page.title }} | {% endif %}Drupalcamp Archive</title>
      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
              <h1>Drupalcamp Archive</h1>
            </div>
            <p>A Drupalcamp is a one to two day event that focuses on many aspects of Drupal in one location. Its focus is knowledge sharing amongst the community. Many of the camps have their own websites which can be a valuable source of information in themselves. This site is an archive of Drupalcamp sites, which have been made static. if you have a Drupalcamp website, you can add it to this archive easily.</p>
          </div>
        </div>
        {{ content }}
      </div>

    </body>
  </html>